name: Merge Ontology and generate proto file

on:
  pull_request:
    paths:
      - 'ontology/**'
    types: [opened, synchronize, reopened]

permissions:
  contents: write
  
jobs:
    ontology:
        runs-on: ubuntu-latest

        steps:
        - name: Checkout repository
          uses: actions/checkout@v4
        - name: Install buf
          uses: bufbuild/buf-setup-action@v1.50.0
          with:
            github_token: ${{ github.token }}
        - name: Set up Git user
          run: |
            git config --global user.name "github-actions[bot]"
            git config --global user.email "github-actions[bot]@users.noreply.github.com"
        - name: Download ROBOT
          run: |
            wget https://github.com/ontodev/robot/releases/download/v1.9.5/robot.jar
        
        - name: Clean up catalog and core files
          run: |
            # Remove core/evidence.owx from catalog file. We do not need the evidence object in the merged ontology, that would lead to an error in the proto file generation.
            sed -i '/uri="core\/evidence\.owx"/d' ontology/v1/catalog-v001.xml
            # Remove the import statement for evidence from core.owx
            sed -i '/<Import>https:\/\/ontology.cybersecuritycertcluster.eu\/core\/evidence<\/Import>/d' ontology/v1/core.owx
        - name: Merge owx files
          uses: docker://eclipse-temurin
          with:
            args: java -jar robot.jar -vvv merge 
              --catalog ontology/v1/catalog-v001.xml
              --input ontology/v1/ontology.owx 
              --output ontology/v1/ontology-merged.owx
        - name: Generate proto file for ontology
          run: |
            go install github.com/oxisto/owl2proto/cmd/owl2proto@latest
            $HOME/go/bin/owl2proto generate-proto \
            --root-resource-name=/classes/Resource ontology/v1/ontology-merged.owx \
            --header-file=ontology/csc_hub_header.proto \
            --output-path=ontology/v1/ontology.proto \
            --full-semantic-mode=false \
            --deterministic-field-numbers=true
        - name: Upload generated proto as artifact
          uses: actions/upload-artifact@v4
          with:
            name: ontology-proto
            path: ontology/v1/ontology.proto
        - name: Validate proto file
          run: |       
            mkdir -p buf/validate
            curl -L \
              https://raw.githubusercontent.com/bufbuild/protovalidate/refs/heads/main/proto/protovalidate/buf/validate/validate.proto \
              -o buf/validate/validate.proto
            buf lint --path ontology/v1/ontology.proto --error-format github-actions --config '{"version":"v1","lint":{"use":["STANDARD"],"except":["PACKAGE_DIRECTORY_MATCH"]}}'
        
        # Commit and push to the PR branch
        - name: Commit merged OWX file
          env:
            github_token: ${{ github.token }}
          run: |
              git fetch
              git checkout ${{ github.head_ref }}
              git add ontology/v1/ontology-merged.owx ontology/v1/ontology.proto
              git commit -m "Auto-update merged ontology and proto files [skip ci]" || echo "No changes to commit"
              git push