name: "Validate file extensions"

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  prohibit-yml:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Detect added files and fail on .yml
        shell: bash
        run: |
          # Get the list of added or modified files
          ADDED_OR_MODIFIED_FILES=$(git diff --name-only origin/main HEAD || true)

          # Check if any .yml files are present
          printf "%s\n" "$ADDED_OR_MODIFIED_FILES" | grep -qiE '\.yml$' && \
          { echo "::error .yml files detected! Please change .yml to .yaml files."; exit 1; }
